/* 1. Global - Set up the things
/* ---------------------------------------------------------- */

/* @import "global.css"; */
@import "screen-blog.css";
@import "fonts.css";

/* 1.1. Variables
/* ---------------------------------------------------------- */

:root {
    /* --color-primary: #0086c9; */
    --color-blue: #26a8ed;
    --color-text: #2a2a2a;
    --global-border-radius: 2px;
}


/* 4. Site Header
/* ---------------------------------------------------------- */

.gh-head {
    background: var(--blue);
}

.gh-nav-logo .ghost-svg {
    fill: currentColor;
    color: #fff;
    height:24px;
}

/* 5. Site Navigation
/* ---------------------------------------------------------- */

.gh-navbar-item {
    color: #fff;
}

.gh-btn {
    color: #fff;
    fill: #fff;
}

.gh-navbar-btn {
    color: #fff;
}

.gh-navbar-btn:hover {
    color:#fff;
}

/* 6. Post Feed
/* ---------------------------------------------------------- */

.post-card:hover {
    box-shadow: none;
    transition: none;
    transform: none;
}

@media (min-width: 795px) {
    .post-card {
        box-shadow: none;
    }
    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-image-link {
        border-radius: var(--global-border-radius);
    }
}


/* 7. Single Post
/* ---------------------------------------------------------- */

.post-full-header {
    text-align: left;
}

.post-full-meta {
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-bottom:0;
    flex-wrap: wrap-reverse;
}

.post-full-header-date {
    display:inline-block;
    font-weight: 300;
    color: inherit;
    font-size:1.3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.post-full-meta .author-profile-name {
    margin: 0 auto 1rem 0;
    font-size: 1.4rem;
}

.post-full-meta .author-profile-name a {
    color: inherit;
}

.post-full-meta .author-profile-image, .post-full-meta .avatar-wrapper {
    margin-right: 14px;
    width: 32px;
    height: 32px;
    margin-bottom:1rem;
}

.post-full-meta .date-divider {
    margin-bottom:1rem;
}

.post-full-header-tag {
    display: inline-block;
    font-size: 1.3rem;
    line-height: 1.15em;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-bottom:1rem;
    font-weight:500;

}


/* 11. Site Footer
/* ---------------------------------------------------------- */

.site-footer {
    background: var(--blue);
}
