/* 1. Global - Set up the things
/* ---------------------------------------------------------- */

/* @import "global.css"; */
@import "screen-blog.css";
@import "fonts.css";

/* 1.1. Variables
/* ---------------------------------------------------------- */

:root {
    /* --color-primary: #0086c9; */
    --color-blue: #26a8ed;
    --color-text: #2a2a2a;
    --global-border-radius: 2px;
}


/* 1.2. Body
/* ---------------------------------------------------------- */

body {
    color: var(--color-text);
    /* font-family: Rubik,'-apple-system',BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue','sans-serif'; */
}

/* .post-card-image {
    overflow:hidden;
}

.c-test {
    background-size: cover;
    height:100%;
    transition: all 0.5s ease;

}

.post-card:hover .c-test {
    transform: scale(1.01);
}

.c-test::before {
    transition: .5s;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    content: '';
    background-color: #000;
    opacity: 0;
    display:block;
}

.post-card:hover .c-test::before {
    opacity: 0.2;
}

.c-test::after {
    display: block;
    content: '';
    width: 100%;
} */

/* 4. Site Header
/* ---------------------------------------------------------- */

/* .gh-head {
    background: var(--blue);
} */

.gh-nav-logo .ghost-svg {
    fill: currentColor;
    color: var(--color-text);
    height:24px;
}

.site-header-content {
    justify-content: left;
    align-items: flex-start;
    text-align: left;
}


/* 5. Site Navigation
/* ---------------------------------------------------------- */


.gh-mobilenavbar .gh-nav-logo,
.gh-nav-logo > a {
    color: #738a94;
    text-decoration: none;
    font-size:1.3rem;
    font-weight:300;
    padding-right:4vw;
}

/* .gh-navbar-item {
    color: #fff;
}

.gh-btn {
    color: #fff;
    fill: #fff;
}

.gh-navbar-btn {
    color: #fff;
}

.gh-navbar-btn:hover {
    color:#fff;
} */

/* 6. Post Feed
/* ---------------------------------------------------------- */

.post-feed.highlight-feed-primary  {
    margin-bottom: -20px;
}

.post-card {
    padding: 16px;
    margin:0 16px 40px;
}

.post-card,
.read-next-card {
    border-radius:var(--global-border-radius)    ;
}

.read-next-card {
    box-shadow: rgba(39,44,49,0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
    transition: all 0.5s ease;
}

.read-next-card:hover {
    box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
    transition: all .4s ease;
    transform: translate3D(0,-1px,0) scale(1.02);
}

.post-card-image-link {
    border-radius: var(--global-border-radius) var(--global-border-radius) 0 0;
}



.post-card-image {
    /* transition: all .5s ease; */
}
.post-card:hover .post-card-image {
    /* transform: translate3D(0,-1px,0) scale(1.02); */
}

.post-card-meta {
    padding:0;
}

.post-card-content-link {
    padding: 20px 0 0;
}

.post-card-title {
    display:inline-block;
    border-bottom:2px solid #fff;
    transition:0.5s ease all;

}

.post-card:hover .post-card-title {
    transition: 0.4s ease all;
    border-bottom:2px solid var(--blue);
}

@media (min-width: 795px) {
    .post-card {
        /* box-shadow: none; */
    }
    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-image-link {
        border-radius: var(--global-border-radius);
    }
}


/* 7. Single Post
/* ---------------------------------------------------------- */

.post-full-header {
    text-align: left;
}

.post-full-meta {
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-bottom:0;
    flex-wrap: wrap-reverse;
}

.post-full-header-date {
    display:inline-block;
    font-weight: 400;
    color: inherit;
    font-size:1.3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

/* .post-full-meta .author-profile-name {
    margin: 0 auto 1rem 0;
    font-size: 1.4rem;
}

.post-full-meta .author-profile-name a {
    color: inherit;
}

.post-full-meta .author-profile-image, .post-full-meta .avatar-wrapper {
    margin-right: 14px;
    width: 32px;
    height: 32px;
    margin-bottom:1rem;
} */

.post-full-meta .date-divider {
    margin-bottom:1rem;
}

.post-full-header-tag {
    display: inline-block;
    font-size: 1.3rem;
    line-height: 1.15em;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-bottom:1rem;
    font-weight:500;

}

.post-full-content code,
.post-full-content pre {
    border-radius: var(--global-border-radius);
}


/* 7.1. Subscribe Form
/* ---------------------------------------------------------- */

.subscribe-form {
    border-radius: var(--global-border-radius);
}


/* 8. Author Template
/* ---------------------------------------------------------- */

.author-template .site-header-content .author-meta {
    justify-content: left;
}


/* 11. Site Footer
/* ---------------------------------------------------------- */

.site-footer {
    /* background: var(--blue); */
}
